* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

#container {
    width: 300px;
    height: 525px;
    box-shadow: 5px 5px 15px 2.5px #3502028f;
    border-radius: 10px;
}

#result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem;
    width: 300px;
    height: 150px;
    background-color: #fffff7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 4rem;
}

#numPad {
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    width: 75px;
    height: 75px;
    border: 0;
    background-color: #e03535;
    color: #e9d2b0;
    font-size: 2rem;
}

.long { /*overrides the .btn width*/
    width: 150px;
    font-size: 1.25rem;
}

.btn:hover {
    background-color: #d42424;
}

#decimalBtn {    
    border-bottom-left-radius: 10px;
}

.botRightRadius {
    border-bottom-right-radius: 10px;
}
